.updates-container {
    border-radius: 1.4rem !important;
    padding: 18px;
}

.updates-content {
    display: flex;
    flex-direction: column;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.updates-subtext {
  color: #8a8f93;
}

.header-row-textbox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.updates-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 18px;
    height: 75px;
    gap: 1rem; 
}

.avatar-pink-theme {
    background-color: #FBE4F2 !important;
}

.avatar-blue-theme {
    background-color: #D9EAFF !important;
}

.icon-pink-theme {
    color: #c61f53;
}

.icon-blue-theme {
    color: #5677A0;
}

